body {
    margin:0px;
}
.block {
    margin: 10px;
    width: 100vh;
    height: 300px;
    background-color: bisque;
}
#five {
    margin: 10px;
    background-color:#abc;  
    width: 350vh;
    height: 300px;
    
}